
.content-width{
    margin: 0 auto;
    width: 70%;
}
/* -----------------------------------
    Type
---------------------------------------*/
h2{
    margin-bottom: -15px;
}
h4{
    font-weight: normal;
    font-style: italic;
}
p, li{
    font-weight: 500;
    line-height: 1.4em;
}
a:visited{
    color:rgb(125, 82, 168);
}
/* -----------------------------------
    Colors
---------------------------------------*/
.dk-blue-background{
    background-color: #003550;
    color: white;
}
.teal-background{
    background-color: #008085;
    color: white;
}
/* -----------------------------------
    Spacing
---------------------------------------*/
.margin-L-20{
    margin-left:20px;
}
/* -----------------------------------
    Navigation
---------------------------------------*/
.header__navigation ul{
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    list-style-type: none;
    margin: 0;
}
.header__navigation ul li:first-child{
    line-height: 1.7em;
    padding-left: 12%;
    padding-right: 35%;
    color:#707070;
}
.header__navigation ul li:not(:first-child){
    margin-top:24px;
    margin-right:40px;    
}

.header__navigation ul li a{
    text-decoration: none;
}
.header__navigation ul li a:visited{
    color:#707070;
}
.selected{
    border-bottom: 4px solid #008085;
}
/* -----------------------------------
    Projects
---------------------------------------*/
.projects{
    padding: 70px 0 0;
}  
    .project{
        padding-top:20px;
        padding-bottom:10px;
        display:flex;
        flex-direction: row;
        flex-wrap:nowrap;
    }
    .project__images{
        max-width: 30%;
        margin-right:30px;
        padding-top: 24px;
    }
    .project__images img{
        max-width:100%;
        overflow: hidden;
    }
    .project__quote{
        margin-top:20px;
        padding:10px 0;
        border-top: solid 1px white;
        border-bottom: solid 1px white;
    }
    .project__content{
        width:60%;
    }
    .project__content__list li{
        padding-top:10px;
    }
/* -----------------------------------
    ABOUT
---------------------------------------*/
.about{
    padding-top: 120px;
    padding: 30px 0;
}  
    .about__intro{
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 60px;
    }
        .intro__content {
            font-size: 24px;
            color: #868D8E;
            padding-left: 41px;

        }
        .intro__image {
            margin: 0px;
            width:30%;
        }
/* about skills */


/* -----------------------------------
    Footer
---------------------------------------*/
.footer{
    background-color: #707070;
}
.footer__content{
    padding:12px;
    color: white;
}
.footer__content a{
    color: white;
}


.footer__copywright{
    padding: 3px;
    background-color: #ececec;
    font-size:8px;
}
.footer__copywright p{
    margin: 0 auto;
}
  