
.content-width{
    margin: 0 auto;
    width: 70%;
}
/* -----------------------------------
    Type
---------------------------------------*/
h2{
    margin-bottom: -15px;
}
h4{
    font-weight: normal;
    font-style: italic;
}
p, li{
    font-weight: 500;
    line-height: 1.4em;
}
a:visited{
    color:rgb(125, 82, 168);
}
/* -----------------------------------
    Colors
---------------------------------------*/
.dk-blue-background{
    background-color: #003550;
    color: white;
}
.teal-background{
    background-color: #008085;
    color: white;
}
/* -----------------------------------
    Spacing
---------------------------------------*/
.margin-L-20{
    margin-left:20px;
}
.margin-T-20{
    margin-top:20px;
}
/* -----------------------------------
    Navigation
---------------------------------------*/
.header__navigation ul{
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    list-style-type: none;
    margin: 0;
}
.header__navigation ul li:first-child{
    line-height: 1.7em;
    padding-left: 12%;
    padding-right: 35%;
    color:#707070;
}
.header__navigation ul li:not(:first-child){
    margin-top:24px;
    margin-right:40px;
        
}

.header__navigation ul li a{
    text-decoration: none;
    color:#707070;
}
.header__navigation ul li a:visited{
    color:#707070;
}
.selected{
    border-bottom: 4px solid #008085;
    color:#008085;
}
/* -----------------------------------
    Projects
---------------------------------------*/
.projects{
    padding: 70px 0 0;
}  
    .project{
        padding-top:20px;
        padding-bottom:10px;
        display:flex;
        flex-direction: row;
        flex-wrap:nowrap;
    }
    .project__images{
        max-width: 30%;
        margin-right:30px;
        padding-top: 24px;
    }
    .project__images img{
        max-width:100%;
        overflow: hidden;
    }
    .project__quote{
        margin-top:20px;
        padding:10px 0;
        border-top: solid 1px white;
        border-bottom: solid 1px white;
    }
    .project__content{
        width:60%;
    }
    .project__content__list li{
        padding-top:10px;
    }
/* -----------------------------------
    ABOUT
---------------------------------------*/
.about{
    
    padding: 30px 0;
}  
    .about__intro{
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 60px;
    }
        .intro__content {
            font-size: 1.4em;
            color: #868D8E;
            padding-left: 41px;

        }
        .intro__image {
            margin: 0px;
            width:30%;
        }
/* about skills */


/* -----------------------------------
    Footer
---------------------------------------*/
.footer{
    background-color: #707070;
}
.footer__content{
    padding:12px 12px 1px;
    color: white;
}
.footer__content a{
    color:  #ececec;

}


.footer__copywright{
    padding: 3px;
    background-color: #ececec;
    font-size:8px;
}
.footer__copywright p{
    margin: 0 auto;
}
  .footer {
    /* position: relative;
    bottom: 1px; */
    width: 100%;
  }
  .about {
    min-height: calc(85vh - 42px);
  }
  .footer {
    height: 62px;
  }

  /* -----------------------------------
    phone
---------------------------------------*/
@media(min-width:400px) and (max-width:768px){
    
    .about__intro  {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 160px;
    }
    .intro__content{
        padding-left:0;

    }
    .header__navigation ul {
        flex-wrap: wrap;
        width: 80%
    }  
    .header__navigation ul li:first-child{
        border-bottom: 1px solid #003550;
    }
    .header__navigation ul li:not(:first-child){
        margin-top:12px;
        margin-left:42px;  
        margin-bottom:20px;  
    }  
    .projects {
        padding-top: 160px;
    }
    .project{
        flex-wrap: wrap;
    }
    .project__content {
        width: 90%;
    }
    
    .project__images {
        max-width: 100%;
    }
    .project ul{
        list-style-type: none;
        padding-left: 0;
    }

  }

  @media(min-width:1218px){
      .about{
          padding-top:40px;
      }
  }